<!DOCTYPE html>
<html lang="en">
　　<head> <!--HTML文件头标记，用来包含文件的基本信息,内容不会再浏览器中显示-->
　　<!--头部内容-->
    <meta charset="'utf-8">
    <title>Title</title>
　　</head>
　　<body><!--网页真正显示的内容都在body标签中-->
　　<!--网页内容--><h1>添加用户</h1>
        <form method="post" action="/add/user">
            <input type="text" name="user" placeholder="用户名">
            <input type="text" name="pwd" placeholder="密码">
            <input type="text" name="mobile" placeholder="手机号">
            <input type="submit"value="提交">
        </form>
　　</body>
</html>
